#cat {
    position: absolute;
    text-align: center;
    line-height: 840%;
    color: white;
    cursor: url("猫.png"),pointer;
    background-color: rgb(255, 124, 124);
    width: 300px;
    height: 150px;
    border-radius: 100px / 50px;
}
#dog {
    position: absolute;
    text-align: center;
    line-height: 840%;
    color: white;
    cursor: url("犬.png"), pointer;
    background-color: rgb(82, 82, 255);
    width: 300px;
    height: 150px;
    border-radius: 100px / 50px;
    left: 70%;
}
#pig {
    position: absolute;
    text-align: center;
    line-height: 840%;
    color: white;
    cursor: url("豚.png"), pointer;
    background-color: rgb(233, 155, 226);
    width: 300px;
    height: 150px;
    border-radius: 100px / 50px;
    bottom: 20%;
    left: 70%;
}
#panda {
    position: absolute;
    text-align: center;
    line-height: 840%;
    color: white;
    cursor: url("パンダ.png"), pointer;
    background-color: rgb(122, 119, 119);
    width: 300px;
    height: 150px;
    border-radius: 100px / 50px;
    bottom: 20%;
}
#bird {
    position: absolute;
    text-align: center;
    line-height: 840%;
    color: white;
    cursor: url("鳥.png"), pointer;
    background-color: rgb(0, 129, 22);
    width: 300px;
    height: 150px;
    border-radius: 100px / 50px;
    top: 35%;
    left: 35%;
}